<h1><%=@recipe.name%></h1>
<a href="/recipe/<%=@recipe.id%>/edit">Edit This Recipe</a>
<br>

<form action="/recipe/<%=@recipe.id%>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete</button>
</form>

<div class="row">

  <div class="col-md-5">
    <h3>Recipe Ingredients:</h3>
    <ul>
      <% @recipe.ingredients.each do |ingredient|%>
      <form action="/recipe/<%=@recipe.id%>/ingredient/delete" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="ingredient_id" value="<%=ingredient.id%>">
        <li><%= ingredient.name %>  <button type="submit">Delete</button></li>
      </form>
      <%end%>
    </ul>
  </div>

  <div class="col-md-5">
    <h3>Recipe Instructions:</h3>
      <p>
      <%= @recipe.instructions %>
    </p>
    <h4>Recipe Rating</h4>
      <%= @recipe.rating %>
  </div>


  <div class="col-md-2">
    <h3>Recipe Tags:</h3>
    <ul>
       <% @recipe.tags.each do |tag|%>
        <li> <%=tag.category%> </li>
        <%end%>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-5">

    <form action="/recipe/<%=@recipe.id%>/ingredients/select" method="post">

    <h2>All available ingredients:</h2>
    <h3>Select to add ingredients to the recipe.</h3>
      <% if @all_ingredients.any? %>
      <ul>
        <% @all_ingredients.each do |ingredient| %>
        <li><input type="checkbox" name="recipe_ingredients[]" value="<%=ingredient.id%>"><%= ingredient.name%></li>
        <%end%>
        <%else%>
        <h3>You need to enter some ingredients</h3>
        <%end%>
      </ul>
      <button type="submit">Submit</button>
    </form> <br>


    <h5>If you don't see a necessary ingredient, add it to the ingredients list here:</h5>
    <form action="/recipe/<%=@recipe.id%>/ingredients/add" method="post">
      <label for="ingredient">Enter your ingredient:</label>
      <input id="ingredient" type="text" name="ingredient">
      <button type="submit">Submit</button>
    </form> <br>
  </div>

  <div class="col-md-5">

    <form action="/recipe/<%=@recipe.id%>/instructions/add" method="post">
      <label for="instructions">Enter instructions for your recipe. Please specify quantities for your ingredients</label>
      <br>
      <textarea name="instructions" rows="6" cols="30"></textarea>
      <button type="submit">Submit </button>
    </form>
  </div>


    <div class="col-md-2">
      <form action="/recipe/<%=@recipe.id%>/tags/add" method="post">
        <label for="tag">Enter a tag for your recipe</label>
        <br>
        <input type="text" name="tag" id="tag">
        <button type="submit">Submit </button>
      </form>
    </div>
  </div>
</div>
